<h1>Editing play</h1>

<% form_for(@play) do |f| %>
  <%= f.error_messages %>
  <% @play.author_id = 1 %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :classification %>
    <%= collection_select( :play, :classification, ['Comedy', 'History', 'Tragedy'], :to_s, :to_s ) %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @play %> |
<%= link_to 'Back', plays_path %>