
<% if @gender %>
  <h2><%=h @gender.name %>'s Monologues in Shakespeare</h2>
  <h3><%=h @play.title %></h3>
  <span style="font-size: 75%;">
    <%= link_to "Show #{@other_gender.name}", play_path(@play, :g => @other_gender.id) %> &nbsp;
    <%= link_to "Show All", play_path(@play) %>
  </span>
<% else %>
  <h2>Monologues in Shakespeare</h2>
  <h3><%=h @play.title %></h3>
  <span style="font-size: 75%;">
    <%= link_to "Show Women", play_path(@play, :g => 2) %> &nbsp;
    <%= link_to "Show Men", play_path(@play, :g => 3) %>
  </span>
<% end %>

 <table style="text-align: left; style=font-size: 80%;" cellpadding="1px">
    <tr>
      <th style="font-size: 80%;">Character</th>
      <th style="font-size: 80%;">First Line</th>
      <th style="font-size: 80%;">Act & Sc</th>
      <th style="font-size: 80%;">pdf</th>
    </tr>
    <% for monologue in @monologues %>
      <tr id="<%= cycle 'odd-row', 'even-row' %>">
        <td width="80"><%=h monologue.character %><br><span style="font-size: 60%;"> <%=h monologue.style %> <%= monologue.intercut_label %><br/><%= link_to( h(monologue.play.title), play_path(monologue.play) ) %><br/></span>
        </td>

        <td style="font-size: 100%;" valign="top"><%= link_to_monologue_or_pdf(monologue) %></td>
          <td  valign="top" align="right" width="50"  style="font-size: 70%;"><a href='<%=h monologue.body_link %>'><%=h monologue.location %></a></td>
<td  valign="top" width="20"><a href="<%=monologue.pdf_link%>"><img title="pdf" alt="pdf" valign="middle" src="/images/print.gif" border="0"/></a></td>

      </tr>
    <% end %>
  </table>


