<p>
  <%=h @play.author.name %>

  <h2><%=h @play.title %></h2>
  <%= @play.classification %>
  <dl>
    <% @play.monologues.each do |monologue| %>
      <dt><%= monologue.character %> </dt>
      <dd><%= link_to monologue.first_line, monologue_path(monologue) %></dd>
    <% end %>
  </dl>

</p>


<%= link_to 'Edit', edit_play_path(@play) %> |
<%= link_to 'Back', plays_path %>