<p>
  <%=h @play.author.name %>

  <h2><%=h @play.title %></h2>
  <ul>
    <% @play.monologues.each do |monologue| %>
      <li><%= link_to monologue.name, monologue_path(monologue) %>
    <% end %>
  </ul>

</p>


<%= link_to 'Edit', edit_play_path(@play) %> |
<%= link_to 'Back', plays_path %>