<% title 'Monologues' %>
<table>
  <tr>
    <th>Play</th>
    <th>Character</th>
    <th>Style</th>
    <th>Section</th>
    <th>Name</th>
    <th>Gender</th>
  </tr>

<% @monologues.each do |monologue| %>
  <tr>
    <td><%=h monologue.play.title %></td>
    <td><%=h monologue.character %></td>
    <td><%=h monologue.style %></td>
    <td><%=h monologue.section %></td>
    <td><%= link_to h(monologue.name), monologue %></td>
    <td><%=h monologue.gender.name %></td>
    <td><%= link_to 'Show', monologue %></td>
    <td><%= link_to 'Edit', edit_monologue_path(monologue) %></td>
    <td><%= link_to 'Destroy', monologue, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New monologue', new_monologue_path %>