
<% if @gender %>
  <div>
    <h2><%=h @gender.name %>'s Monologues in Shakespeare</h2>
    <h2><%=h @play.title %></h2>
    <%= link_to( 'Edit Play', edit_play_path(@play) ) -%> -&nbsp;
    <%= link_to "Show #{@other_gender.name}", adminplay_path(@play, :g => @other_gender.id) %> -&nbsp;
    <%= link_to "Show #{@play.title}", adminplay_path(@play) %>
    <br/><%= link_to "Show  All Plays", adminplays_path  %>
    <p> </p>
  </div>
<% else %>
  <div>
    <h2>Monologues in Shakespeare</h2>
    <h2><%=h @play.title %></h2>
    <%= link_to( 'Edit Play', edit_play_path(@play) ) -%> -&nbsp;
    <%= link_to "Show Men", adminplay_path(@play, :g => 3) %> -&nbsp;
    <%= link_to "Show Women", adminplay_path(@play, :g => 2) %> 
    <br/><%= link_to "Show All Plays", adminplays_path  %>
    <p> </p>
  </div>

<% end %>

<%= render :partial => 'admin/monologues', :locals => { :monologues => @monologues } %>




