<% form_for @monologue do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :play_id %><br />
    <%= f.text_field :play_id %>
  </p>
  <p>
    <%= f.label :section %><br />
    <%= f.text_field :section %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.label :gender_id %><br />
    <%= f.text_field :gender_id %>
  </p>
  <p>
    <%= f.label :character %><br />
    <%= f.text_field :character %>
  </p>
  <p>
    <%= f.label :style %><br />
    <%= f.text_field :style %>
  </p>
  <p>
    <%= f.label :link %><br />
    <%= f.text_field :link %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>
