<% if @monologues.empty? %>
  <p><br/>Alas, no monologues match your search</p>
<% else %>
  <% if @monologues.size == 1 %>
    <p>Behold! Your monologue.</p>
  <% else %>
    <% if params[:search].nil? or params[:search] == '' %>
      <p>There are <%= @monologues.size.to_s %> monologues</p>
    <% else %>
      <p><%= @monologues.size.to_s %> monologues match your search</p>
    <% end %>
  <% end %>
  <table style="text-align: left;">
    <tr>
      <th>Play / Character</th>
      <th>Name</th>
      <th>Actions</th>
    </tr>
    <% for monologue in @monologues %>
      <tr id="<%= cycle 'odd-row', 'even-row' %>">
        <td><span style="font-size: 115%;"><%= link_to( h(monologue.play.title), play_path(monologue.play) ) unless monologue.play.title.blank? %></span>
            (<a href='<%=h monologue.link %>'><%=h monologue.section %></a>)
        <br/><%=h monologue.character %> - <%=h monologue.style %></td>
          <td style="font-size: 100%;"><%=  link_to h(monologue.name), monologue %></td>
        <td style="font-size: 70%;"><%= link_to "Edit", edit_monologue_path(monologue) %><br/>
          <%= link_to "Destroy", monologue, :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
    <% end %>
  </table>
<% end %>
<p><%= link_to "New Monologue", new_monologue_path %></p>

