<% title "Monologues" %>

<table>
  <tr>
    <th>Play</th>
    <th>Section</th>
    <th>Name</th>
    <th>Character</th>
    <th>Style</th>
    <th>Link</th>
  </tr>
  <% for monologue in @monologues %>
    <tr>
      <td><%=h monologue.play.title %></td>
      <td><%=h monologue.section %></td>
      <td nowrap><a title='<%=h monologue.body %>'><%=h monologue.name %></a></td>
      <td><%=h monologue.character %></td>
      <td><%=h monologue.style %></td>
      <td><a href='<%=h monologue.link %>'>link</a></td>
      <td><%= link_to "Show", monologue %></td>
      <td><%= link_to "Edit", edit_monologue_path(monologue) %></td>
      <td><%= link_to "Destroy", monologue, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Monologue", new_monologue_path %></p>
