<% title "Monologue" %>

<p>
  <strong>Play:</strong>
  <%=h @monologue.play_id %>
</p>
<p>
  <strong>Section:</strong>
  <%=h @monologue.section %>
</p>
<p>
  <strong>Name:</strong>
  <%=h @monologue.name %>
</p>
<p>
  <strong>Body:</strong>
  <%=h @monologue.body %>
</p>
<p>
  <strong>Gender:</strong>
  <%=h @monologue.gender_id %>
</p>
<p>
  <strong>Character:</strong>
  <%=h @monologue.character %>
</p>
<p>
  <strong>Style:</strong>
  <%=h @monologue.style %>
</p>
<p>
  <strong>Link:</strong>
  <%=h @monologue.link %>
</p>

<p>
  <%= link_to "Edit", edit_monologue_path(@monologue) %> |
  <%= link_to "Destroy", @monologue, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", monologues_path %>
</p>
