<% if @monologues.nil? %>

  <table cellpadding="8" style="line-height: 160%;"border="1">
    <tr>
      <td style="font-size: 140%;"><b>Comedies</b></td>
      <td style="font-size: 140%;"><b>Histories</b></td>
      <td style="font-size: 140%;"><b>Tragedies</b></td>
    </tr>
    <tr>
      <td style="vertical-align: text-top;">
          <% @comedies.each do |comedy| %>
            <%= link_to comedy.title, play_path(comedy, :g => @gender.id) %><br/>
          <% end %>
      </td>
      <td style="vertical-align: text-top;">
          <% @histories.each do |history| %>
            <%= link_to history.title, play_path(history, :g => @gender.id) %><br/>
          <% end %>
      </td>
      <td style="vertical-align: text-top;">
          <% @tragedies.each do |tragedy| %>
            <%= link_to tragedy.title, play_path(tragedy, :g => @gender.id) %><br/>
          <% end %>
      </td>
    </tr>
  </table>

<% else %>

  <% if params[:search] %>

    <% if @monologues.size == 1 %>
      <p>Behold! Your monologue.</p>
    <% else %>
      <p><%= @monologues.size.to_s %> monologues match your search</p>
    <% end %>

  <% end %>
    
  <table width="580" style="text-align: left;" cellpadding="1px">
    <tr>
      <th style="font-size: 80%;">Character</th>
      <th style="font-size: 80%;">First Line</th>
      <th style="font-size: 80%;">Act & Sc</th>
      <th style="font-size: 80%;">pdf</th>
    </tr>
    <% for monologue in @monologues %>
      <tr id="<%= cycle 'odd-row', 'even-row' %>">
        <td width="90" style="vertical-align: top;"><%=h monologue.character %><br/>
          <span style="font-size: 60%;">
            <%=h monologue.style %> <%= monologue.intercut_label %><br/>
            <%= link_to( h(monologue.play.title), play_path(monologue.play) )%><br/>
            <%= link_to 'edit', edit_monologue_path(monologue) %>
          </span>
        </td>
        <td style="font-size: 100%;" style="vertical-align: top;">
          <span id="preview_mono_<%= monologue.id -%>">
            <%= link_to_remote monologue.first_line,
                            :update => "preview_mono_#{monologue.id}",
                            :url => { :action => "preview", :id => monologue.id } %>
          </span>
        </td>
        <td width="60" valign="top" align="right" style="font-size: 70%;">
          <%= link_to_monologue_location( monologue ) %>
        </td>
        <td  valign="top" width="20">
          <%= link_to_monologue_pdf( monologue ) %>
        </td>

      </tr>
    <% end %>
  </table>
<% end %>

