<h2><%=h @gender.name %>'s Monologues in Shakespeare</h2>

<p>

  <span>
    <% form_tag('javascript:void(0)') do %>
      <b>Search:</b> <input type="text" id="search" size="40"/>
      <%= image_tag '/images/ajax-loader.gif',
            :id => 'spinner',
            :style => "display: none;" %>
    <% end %>
      <div class="search_links">
      Showing <%=  @gender.name %> &nbsp;
      <%= link_to "Show #{@other_gender.name}", '/' + @other_gender.name.downcase %> &nbsp;
      <%= link_to "Show All", monologues_path %>
    </div>
  </span>


</p>

<%=  observe_field :search,
                  :frequency => 1,
                  :update => 'ajaxResults',
                  :before => "Element.show('spinner')",
                  :complete => "Element.hide('spinner')",
                  :url => {:controller => 'monologues', :action => 'search', :only_path => false},
                  :with => "'g=#{@gender.id}&search=' + encodeURIComponent(value)" %>

<div id='ajaxResults'>
  <%= render :controller => 'monologues', :partial => "shared/search" %>
</div>


