<HTML>
<HEAD>
<TITLE>Shakespeare's Monologues</TITLE>

<%= javascript_include_tag :defaults %>


<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<META NAME="KEYWORDS"
CONTENT="shakespeare, monologue, shakespeare's, monologues,
shakespearean, discussion, monologue, shakespeare's, monologues,
shakespearean, discussion, theatre, resource, actor, resource, acting,
resource, online, forum, shakespeare shakespeare's monologues
shakespearean discussion shakespeare monologue monologues
shakespearean discussion shakespeare monologue shakespeare's
theatre resource acting resource acting resources forum online
shakespearean, discussion, shakespeare, monologue, shakespeare's,
monologues, discussion, shakespeare, monologue, shakespeare's monologues, shakespearean, find, locate, search, index, All's Well That Ends Well, As You Like It, The Comedy of Errors, Cymbeline, Love's Labours Lost, Measure for Measure, The Merry Wives of Windsor, The Merchant of Venice, A Midsummer Night's Dream, Much Ado About Nothing, Pericles, Prince of Tyre, Taming of the Shrew, The Tempest, Troilus and Cressida, Twelfth Night, Two Gentlemen of Verona, Winter's Tale, Henry IV, part 1
, Henry IV, part 2
, Henry V
, Henry VI, part 1
, Henry VI, part 2
, Henry VI, part 3
, Henry VIII
, King John
, Richard II
, Richard III
">
<style fprolloverstyle>A:hover {color: #5E2612; text-decoration: underline; font-weight: bold}
</style>
<style>
  A {text-decoration: none; color: #696969; font-style: italic;  }
  .no-link {text-decoration: none; color: #696969; font-style: italic;}
  .small {
    font-family: verdana;
    font-size: 10px;
}

</style>
<script language="JavaScript">
function includeemail()
{
var f = document.PaypalForm;
var name = "donations";
var at = "@";
var url = "shakespeare-monologues.org";
f.business.value = name + at + url;
return true;
}
</script>

</HEAD>
<BODY BGCOLOR="#F9F9DF" background="/images/parchment.jpg">

<table width="100%" align=center valign="top" cellpadding=0 cellspacing=0 nowrap>
<tr>
<td width=520 align=left valign=top cellspacing=0 cellpadding=0>
</td>
</tr>
</table>

<table width="100%" align=left valign="top" cellpadding=5 cellspacing=5 nowrap>
<tr>
<td valign="top" align="middle">

<font size="-2">
<%= link_to '[The Men]', '/men' %>
&nbsp;
<%= link_to '[The Women]', '/women' %><br/>
<a HREF="http://shakespeare-monologues.org/store/">[Books]</a>&nbsp;<a HREF="http://twitter.com/ShakesMonos" target="_blank">[Twitter]</a>&nbsp;<a href="http://www.facebook.com/pages/Shakespeares-Monologues/108569596643" target="_blank">[FB]</a>&nbsp;<a HREF="/">[Home]</a>
<br/><br/>&nbsp;<br/>
<!-- left column amazon ads -->

<script type="text/javascript"><!--
amazon_ad_tag="shakessmonolo-20";
amazon_ad_width="120";
amazon_ad_height="600";
amazon_color_background="F9F9D1";
amazon_color_border="F9F9D1";
amazon_color_logo="0A0909";
amazon_color_link="A43907";
amazon_ad_logo="hide";
amazon_ad_title="Shakespeare's Monologues' Bookshelves"; //--></script>
<script type="text/javascript" src="http://www.assoc-amazon.com/s/asw.js"></script>


</td>
<td valign=top width=515>


<!-- do the rails thing! -->

<p style="color: green"><%= flash[:notice] %></p>

<%= yield :layout%>

<!-- back to html -->



<p><center><a href="http://shakespeare-monologues.org/mensmonos.old.shtml#other">[Other Works]</a><br/>
<a HREF="/">[Home]</a>
<%= link_to '[The Men]', '/men' %>
&nbsp;
<%= link_to '[The Women]', '/women' %><br/>
<a HREF="http://shakespeare-monologues.org/store/">[Books]</a>
<a HREF="http://twitter.com/ShakesMonos" target="_blank">[Twitter]</a>
<a href="http://www.facebook.com/pages/Shakespeares-Monologues/108569596643" target="_blank">[FB]</a>
<a HREF="http://shakespeare-monologues.org/contact.php">[Contact]</a>
</p>
<p>
<!-- SiteSearch Google -->
<form method="get" action="http://www.google.com/custom" target="google_window">
<table border="0" bgcolor="#F9F9DF">
<tr><td nowrap="nowrap" valign="top" align="left" height="32">
<a href="http://www.google.com/">
<img src="http://www.google.com/logos/Logo_25wht.gif"
border="0" alt="Google"></img></a>
</td>
<td nowrap="nowrap">
<input type="hidden" name="domains" value="shakespeare-monologues.org"></input>
<input type="text" name="q" size="31" maxlength="255" value=""></input>
<input type="submit" name="sa" value="Search"></input>
</td></tr>
<tr>
<td>&nbsp;</td>
<td nowrap="nowrap"></td>
</tr>
</table>
<br/>
<table>
<tr>
<td>
<input type="radio" name="sitesearch" value=""></input>
<font size="-1" color="#000000">Web</font>
</td>
<td>
<input type="radio" name="sitesearch" checked="checked" value="shakespeare-monologues.org"></input>
<font size="-1" color="#000000">shakespeare-monologues.org</font>
</td>
</tr>
</table>
<table>
<input type="hidden" name="client" value="pub-5236095389905910"></input>
<input type="hidden" name="forid" value="1"></input>
<input type="hidden" name="ie" value="ISO-8859-1"></input>
<input type="hidden" name="oe" value="ISO-8859-1"></input>
<input type="hidden" name="cof" value="GALT:#333333;GL:1;DIV:#D5CA9D;VLC:000000;AH:center;BGC:F9F9DF;LBGC:F9F9DF;ALC:000000;LC:000000;T:44423A;GFNT:663333;GIMP:663333;LH:100;LW:100;L:http://shakespeare-monologues.org/foliocover.gif;S:http://shakespearesmonologues.com;LP:1;FORID:1;"></input>
<input type="hidden" name="hl" value="en"></input>

</td></tr></table>
</form>
<!-- SiteSearch Google -->
<a href="http://www.spreadfirefox.com/?q=affiliates&amp;id=70961&amp;t=62"><img border="0" alt="Get Firefox!" title="Get Firefox!" src="http://sfx-images.mozilla.org/affiliates/Buttons/110x32/take.gif"/></a>
</CENTER>

</td>
<td width=343 align=center  valign=top>
  <%= render :partial => 'tip_jar' %>
<p>

<!-- ADDTHIS BUTTON BEGIN -->
<script type="text/javascript">
addthis_pub = 'ShakespearesMonologues';
addthis_logo = 'http://shakespeare-monologues.org/foliocover.gif';
addthis_logo_background = 'F9F9DF';
addthis_brand = 'Shakespeare\'s Monologues';
addthis_options = 'digg, delicious, stumbleupon, facebook, myspace, twitter, google, live, email, more';</script>
<a href="http://www.addthis.com/bookmark.php" onMouseOver="return addthis_open(this, '', '[URL]', '[TITLE]')" onMouseOut="addthis_close()" onClick="return addthis_sendto()"><img src="http://s9.addthis.com/button1-share.gif" width="125" height="16" border="0" alt="Share or Bookmark" title="Share or Bookmark" /></a>
<script type="text/javascript" src="http://s7.addthis.com/js/152/addthis_widget.js"></script>
<!-- ADDTHIS BUTTON END -->
</p>

<p>

<script type="text/javascript"><!--
google_ad_client = "pub-5236095389905910";
google_ad_width = 300;
google_ad_height = 250;
google_ad_format = "300x250_as";
google_ad_type = "text_image";
//2007-01-27: ShakesMonos Men's Index
google_ad_channel = "9016325956";
google_color_border = "F9F9DF";
google_color_bg = "F9F9DF";
google_color_link = "696969";
google_color_text = "000000";
google_color_url = "696969";
//--></script>
<script type="text/javascript"
  src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
</p>

</td>
</tr>
</table>
<script src="http://tweetboard.com/tb.js?v=1.0&amp;user=ShakesMonos" type="text/javascript"></script>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-600620-1");
pageTracker._trackPageview();
} catch(err) {}</script>
</BODY>
</HTML>
